Repository 64andrewwalker/calvin: changes, and which Codecov flags are due for each by the changed paths.
All: core, ui, commands

codecov.yml:

# Codecov Configuration
# https://docs.codecov.com/docs/codecov-yaml

coverage:
  # Overall project coverage requirements
  status:
    project:
      default:
        target: 70%      # Minimum overall coverage
        threshold: 2%    # Allow 2% fluctuation
        
    # Critical modules must maintain higher coverage
    patch:
      default:
        target: 80%      # New code must have 80%+ coverage

  # Red lines for critical modules
  # These are the "buckets" that can't be too low
  precision: 2
  round: down
  
# Ignore modules that are hard to test (interactive/TTY/external dependencies)
ignore:
  - "src/ui/menu.rs"              # Interactive menu (requires TTY)
  - "src/ui/live_region.rs"       # Live terminal updates (requires TTY)
  - "src/commands/interactive.rs" # Interactive CLI (requires TTY)
  - "src/commands/watch.rs"       # File watcher (requires real filesystem watching)

# Flag definitions for different module groups
flags:
  core:
    paths:
      - src/sync/
      - src/adapters/
      - src/config.rs
      - src/parser.rs
    carryforward: true
    
  ui:
    paths:
      - src/ui/
    carryforward: true
    
  commands:
    paths:
      - src/commands/
    carryforward: true

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: true

docs: update targets configuration documentation
  docs/configuration.md
Due: none

feat(config): add validation warnings for invalid environment variables
  docs/proposals/env-var-validation-refactor.md
  docs/reports/config-silent-failures-audit-2025-12-24.md
  src/config/env_validator.rs
  src/config/loader.rs
  src/config/mod.rs
  src/config/tests.rs
  src/config/types.rs
  src/domain/value_objects/security_mode.rs
  tests/cli_deploy_targets.rs
Due: none

docs: add configuration guide with environment variables
  docs-content/docs/guides/configuration.mdx
  docs-content/docs/guides/index.mdx
  docs-content/docs/guides/meta.json
Due: none

docs: add 'never fail silently' principle to dev guidelines
  AGENTS.md
  CLAUDE.md
  GEMINI.md
Due: none

refactor: complete CompilerService migration
  docs/proposals/compiler-service-refactor-plan.md
  src/application/compiler.rs
  src/application/mod.rs
  src/application/pipeline.rs
  src/lib.rs
Due: none

docs: archive completed proposals and fixed bug reports
  docs/archive/compiler-service-refactor-plan.md
  docs/archive/cursor-commands-bug-2025-12-24.md
  docs/archive/env-var-validation-refactor.md
  docs/archive/targets-config-bug-2025-12-24.md
  docs/proposals/compiler-service-refactor-plan.md
  docs/proposals/env-var-validation-refactor.md
  docs/reports/cursor-commands-bug-2025-12-24.md
  docs/reports/targets-config-bug-2025-12-24.md
Due: none

docs: remove outdated clean command proposals and checklists
  docs/proposals/archive/clean-command-implementation-plan.md
  docs/proposals/archive/clean-command-prd-checklist.md
  docs/proposals/archive/clean-command-prd.md
  docs/proposals/archive/clean-command-todo.md
  docs/proposals/archive/selection-icons-refactor.md
  docs/proposals/archive/tree-menu-refactor-plan.md
  docs/proposals/archive/tree-menu-refactor-todo.md
  docs/reports/archive/api-review-2025-12-19.md
  docs/reports/archive/api-review-clean-command.md
  docs/reports/archive/cleanup-report-2025-12-19.md
  docs/reports/archive/cleanup-report-2025-12-20.md
  docs/reports/archive/config-silent-failures-audit-2025-12-24.md
  docs/reports/archive/dependency-report-2025-12-20.md
  docs/reports/archive/performance-report-2025-12-19.md
  docs/reports/archive/sync-audit-2025-12-23.md
  docs/reports/archive/sync-audit-report.md
  docs/reports/open-items-summary-2025-12-24.md
  src/error.rs
Due: none

fix: centralize documentation URLs in docs module
  AGENTS.md
  CLAUDE.md
  GEMINI.md
  src/docs.rs
  src/error.rs
  src/lib.rs
  src/parser.rs
Due: core

test: add automated checks for docs/code URL sync
  src/docs.rs
  src/lib.rs
  tests/no_hardcoded_doc_urls.rs
Due: none

fix: normalize path separators for Windows CI
  tests/no_hardcoded_doc_urls.rs
Due: none

chore: update release-please configuration with schema reference
  release-please-config.json
Due: none

docs: add multi-layer promptpack PRD and migration guide
  docs/proposals/multi-layer-migration-guide.md
  docs/proposals/multi-layer-promptpack-prd.md
Due: none

docs: add multi-layer implementation design and plans
  docs/proposals/multi-layer/design.md
  docs/proposals/multi-layer/plan-00-lockfile-migration.md
  docs/proposals/multi-layer/plan-01-core-layer-system.md
  docs/proposals/multi-layer/plan-02-global-registry.md
  docs/proposals/multi-layer/plan-03-config-cli.md
  docs/proposals/multi-layer/plan-04-visibility-tooling.md
  docs/proposals/multi-layer/todo.md
Due: none

docs: align multi-layer plans with UI components spec
  docs/proposals/multi-layer/design.md
  docs/proposals/multi-layer/plan-02-global-registry.md
  docs/proposals/multi-layer/plan-04-visibility-tooling.md
  docs/proposals/multi-layer/todo.md
Due: none

docs: add architecture compliance to all multi-layer plans
  docs/proposals/multi-layer/design.md
  docs/proposals/multi-layer/plan-00-lockfile-migration.md
  docs/proposals/multi-layer/plan-01-core-layer-system.md
  docs/proposals/multi-layer/plan-02-global-registry.md
  docs/proposals/multi-layer/plan-03-config-cli.md
  docs/proposals/multi-layer/plan-04-visibility-tooling.md
Due: none

docs: self-critical review and fixes for multi-layer plans
  docs/proposals/multi-layer-promptpack-prd.md
  docs/proposals/multi-layer/plan-00-lockfile-migration.md
  docs/proposals/multi-layer/plan-02-global-registry.md
  docs/proposals/multi-layer/plan-04-visibility-tooling.md
  docs/proposals/multi-layer/review-audit.md
  docs/proposals/multi-layer/todo.md
Due: none

docs: deep review fixes - add missing PRD items to plans
  docs/proposals/multi-layer/design.md
  docs/proposals/multi-layer/plan-01-core-layer-system.md
  docs/proposals/multi-layer/plan-03-config-cli.md
  docs/proposals/multi-layer/review-deep-check.md
  docs/proposals/multi-layer/todo.md
Due: none

docs: third-pass review - complete remaining gaps
  docs/proposals/multi-layer/plan-02-global-registry.md
  docs/proposals/multi-layer/plan-03-config-cli.md
  docs/proposals/multi-layer/plan-04-visibility-tooling.md
  docs/proposals/multi-layer/review-deep-check.md
  docs/proposals/multi-layer/todo.md
Due: none

docs: final completeness checklist - all PRD items verified
  docs/proposals/multi-layer/review-deep-check.md
Due: none

docs: add implementation handoff guide for senior engineer
  docs/proposals/multi-layer/HANDOFF.md
Due: none

feat(lockfile): migrate to project root with provenance
  docs-content/docs/guides/clean-command.mdx
  docs-content/docs/guides/pitfall-mitigations.mdx
  docs-content/docs/guides/scope-guide.mdx
  docs-content/docs/guides/test-variants-rationale.mdx
  docs/proposals/multi-layer/todo.md
  src/application/clean/use_case.rs
  src/application/deploy/tests.rs
  src/application/deploy/use_case.rs
  src/application/diff.rs
  src/application/lockfile_migration.rs
  src/application/mod.rs
  src/application/watch/use_case.rs
  src/commands/clean.rs
  src/domain/entities/lockfile.rs
  src/domain/entities/lockfile/tests.rs
  src/domain/entities/mod.rs
  src/infrastructure/fs/destination.rs
  src/infrastructure/repositories/lockfile.rs
  src/infrastructure/sync/local.rs
  src/infrastructure/sync/remote/mod.rs
  tests/cli_deploy_orphans.rs
  tests/cli_lockfile_migration.rs
Due: commands

feat(layers): add Layer entity
  docs/proposals/multi-layer/review-audit.md
  docs/proposals/multi-layer/review-deep-check.md
  src/domain/entities/layer.rs
  src/domain/entities/layer/tests.rs
  src/domain/entities/mod.rs
Due: none

chore(docs): restore multi-layer review docs
  docs/proposals/multi-layer/review-audit.md
  docs/proposals/multi-layer/review-deep-check.md
Due: none

feat(layers): add LayerResolver
  src/domain/services/layer_resolver.rs
  src/domain/services/layer_resolver/tests.rs
  src/domain/services/mod.rs
Due: none

feat(layers): merge assets across layers
  src/domain/services/layer_merger.rs
  src/domain/services/layer_merger/tests.rs
  src/domain/services/mod.rs
Due: none

feat(layers): add LayerLoader and FsLayerLoader
  src/domain/ports/layer_loader.rs
  src/domain/ports/mod.rs
  src/infrastructure/layer/fs_loader.rs
  src/infrastructure/layer/mod.rs
  src/infrastructure/mod.rs
Due: none

feat(layers): deploy from merged multi-layer stack
  src/application/deploy/options.rs
  src/application/deploy/use_case.rs
  src/commands/deploy/bridge.rs
  tests/cli_deploy_cleanup.rs
  tests/cli_deploy_orphans.rs
  tests/cli_deploy_targets.rs
  tests/cli_json_deploy.rs
  tests/cli_lockfile_migration.rs
  tests/cli_multi_layer.rs
  tests/cli_watch.rs
  tests/cli_yes.rs
  tests/new_engine_integration.rs
Due: commands

docs(multi-layer): mark Phase 1 complete
  docs/proposals/multi-layer/todo.md
  src/commands/deploy/cmd.rs
  tests/cli_multi_layer.rs
Due: commands

feat(registry): add domain Registry entity
  Cargo.lock
  Cargo.toml
  src/domain/entities/mod.rs
  src/domain/entities/registry.rs
  src/domain/entities/registry/tests.rs
Due: none

feat(registry): add RegistryRepository port
  src/domain/ports/mod.rs
  src/domain/ports/registry_repository.rs
Due: none

feat(registry): add TOML registry repository
  src/infrastructure/repositories/mod.rs
  src/infrastructure/repositories/registry.rs
Due: none

feat(registry): register projects on deploy
  src/application/deploy/tests.rs
  src/application/deploy/use_case.rs
  src/application/mod.rs
  src/application/registry/mod.rs
  src/application/registry/use_case.rs
  src/infrastructure/mod.rs
  src/presentation/factory.rs
Due: none

feat(registry): add projects and clean-all commands
  docs/proposals/multi-layer/todo.md
  src/application/check.rs
  src/application/clean/use_case.rs
  src/application/compiler.rs
  src/application/deploy/tests.rs
  src/application/deploy/use_case.rs
  src/commands/clean.rs
  src/commands/mod.rs
  src/commands/projects.rs
  src/config/env_validator.rs
  src/domain/entities/asset.rs
  src/main.rs
  src/presentation/cli.rs
  src/presentation/factory.rs
  src/ui/blocks/warning.rs
  src/ui/error.rs
  src/ui/views/mod.rs
  src/ui/views/projects.rs
  tests/cli_clean_all.rs
  tests/cli_projects.rs
  tests/golden/mod.rs
Due: ui, commands

docs: add Phase 1/2 documentation for multi-layer and registry
  CHANGELOG.md
  docs/command-reference.md
Due: none

feat(sources): add config + CLI layer controls
  docs/proposals/multi-layer/todo.md
  src/application/deploy/options.rs
  src/application/deploy/use_case.rs
  src/commands/deploy/bridge.rs
  src/commands/deploy/cmd.rs
  src/commands/init.rs
  src/commands/interactive/menu.rs
  src/config/loader.rs
  src/config/mod.rs
  src/config/tests.rs
  src/config/types.rs
  src/domain/services/layer_resolver.rs
  src/error.rs
  src/main.rs
  src/presentation/cli.rs
  tests/cli_deploy_layers_flags.rs
  tests/cli_deploy_source_flag.rs
  tests/cli_init_user.rs
Due: commands

feat(visibility): add layers and provenance tooling
  docs/proposals/multi-layer/todo.md
  src/application/layers/mod.rs
  src/application/layers/query.rs
  src/application/mod.rs
  src/application/provenance.rs
  src/commands/check/engine.rs
  src/commands/debug.rs
  src/commands/interactive/menu.rs
  src/commands/layers.rs
  src/commands/mod.rs
  src/commands/provenance.rs
  src/main.rs
  src/presentation/cli.rs
  src/ui/views/layers.rs
  src/ui/views/mod.rs
  src/ui/views/provenance.rs
  tests/cli_check_all.rs
  tests/cli_check_all_layers.rs
  tests/cli_layers.rs
  tests/cli_provenance.rs
Due: ui, commands

docs: complete Phase 4 documentation (layers, provenance, check --all, migrate)
  CHANGELOG.md
  docs/command-reference.md
  docs/proposals/multi-layer/todo.md
Due: none

feat(errors): harden registry/lockfile and add migration tests
  docs/proposals/multi-layer/todo.md
  src/application/clean/use_case.rs
  src/application/deploy/tests.rs
  src/application/deploy/use_case.rs
  src/application/layers/query.rs
  src/application/registry/use_case.rs
  src/commands/check/engine.rs
  src/commands/clean.rs
  src/commands/projects.rs
  src/domain/ports/layer_loader.rs
  src/domain/ports/lockfile_repository.rs
  src/domain/ports/registry_repository.rs
  src/domain/services/layer_resolver.rs
  src/error.rs
  src/infrastructure/layer/fs_loader.rs
  src/infrastructure/repositories/lockfile.rs
  src/infrastructure/repositories/registry.rs
  tests/cli_lockfile_version_mismatch.rs
  tests/cli_multi_layer_migration.rs
  tests/cli_no_layers_found.rs
  tests/cli_registry_corrupted.rs
Due: commands

docs: add multi-layer feature documentation
  GEMINI.md
  docs-content/docs/api/index.mdx
  docs-content/docs/guides/configuration.mdx
  docs-content/docs/guides/meta.json
  docs-content/docs/guides/multi-layer.mdx
  docs-content/docs/guides/scope-guide.mdx
Due: none

docs: reorganize after multi-layer feature completion
  docs/archive/multi-layer-implementation/HANDOFF.md
  docs/archive/multi-layer-implementation/design.md
  docs/archive/multi-layer-implementation/multi-layer-migration-guide.md
  docs/archive/multi-layer-implementation/multi-layer-promptpack-prd.md
  docs/archive/multi-layer-implementation/plan-00-lockfile-migration.md
  docs/archive/multi-layer-implementation/plan-01-core-layer-system.md
  docs/archive/multi-layer-implementation/plan-02-global-registry.md
  docs/archive/multi-layer-implementation/plan-03-config-cli.md
  docs/archive/multi-layer-implementation/plan-04-visibility-tooling.md
  docs/archive/multi-layer-implementation/review-audit.md
  docs/archive/multi-layer-implementation/review-deep-check.md
  docs/archive/multi-layer-implementation/todo.md
  docs/archive/proposals-archive/clean-command-implementation-plan.md
  docs/archive/proposals-archive/clean-command-prd-checklist.md
  docs/archive/proposals-archive/clean-command-prd.md
  docs/archive/proposals-archive/clean-command-todo.md
  docs/archive/proposals-archive/selection-icons-refactor.md
  docs/archive/proposals-archive/tree-menu-refactor-plan.md
  docs/archive/proposals-archive/tree-menu-refactor-todo.md
  docs/archive/reorganization-log-2025-12-25.md
  docs/reports/archive/product-issues-2025-12-21.md
Due: none
