Repository 64andrewwalker/calvin: changes, and which Codecov flags are due for each by the changed paths.
All: core, ui, commands

fix: resolve image display issue on GitHub Pages
  .github/workflows/docs.yml
  docs-content/_home.mdx
Due: none

feat(docs): add logo and favicon assets for improved branding
  .github/workflows/docs.yml
  docs-content/favicon.svg
  docs-content/logo-dark.svg
  docs-content/logo.svg
  docs-content/site.config.json
Due: none

fix(docs): add white circular background to favicon for visibility
  docs-content/favicon.svg
Due: none

docs: align API documentation with actual codebase and add sync audit report
  GEMINI.md
  docs-content/docs/api/frontmatter.mdx
  docs-content/docs/api/index.mdx
  docs-content/docs/api/library.mdx
  docs-content/docs/api/versioning.mdx
  docs-content/docs/guides/pitfall-mitigations.mdx
  docs-content/docs/guides/scope-guide.mdx
  docs-content/docs/guides/scope-policy-consistency.mdx
  docs/api/README.md
  docs/api/changelog.md
  docs/api/frontmatter.md
  docs/api/library.md
  docs/api/versioning.md
  docs/guides/pitfall-mitigations.md
  docs/guides/scope-guide.md
  docs/guides/scope-policy-consistency.md
  docs/guides/test-variants-rationale.md
  docs/reports/sync-audit-2025-12-23.md
Due: none

chore: bump version to 0.3.0
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  README_zh-CN.md
  docs-content/docs/api/changelog.mdx
  docs-content/docs/api/index.mdx
  docs-content/docs/api/library.mdx
  docs-content/docs/api/versioning.mdx
  tests/golden/snapshots/integration__golden__snapshot_tests__antigravity_rule.snap
  tests/golden/snapshots/integration__golden__snapshot_tests__claude_code_action_quotes.snap
  tests/golden/snapshots/integration__golden__snapshot_tests__claude_code_policy.snap
  tests/golden/snapshots/integration__golden__snapshot_tests__codex_prompt.snap
  tests/golden/snapshots/integration__golden__snapshot_tests__cursor_policy.snap
  tests/golden/snapshots/integration__golden__snapshot_tests__vscode_instructions.snap
Due: none

fix(ci): add contents:write permission for release workflow
  .github/workflows/release.yml
Due: none

fix(ci): correct rust-toolchain action name
  .github/workflows/release.yml
Due: none

fix(ci): use gh CLI to download release assets for checksums
  .github/workflows/release.yml
Due: none

feat: add Homebrew formula and auto-update workflow
  .github/workflows/homebrew.yml
  Formula/calvin.rb
Due: none

feat(ci): add release-please for automated changelog
  .github/workflows/release.yml
  .release-please-manifest.json
  release-please-config.json
Due: none

test: update snapshots for v0.4.0
  tests/golden/snapshots/integration__golden__snapshot_tests__antigravity_rule.snap
  tests/golden/snapshots/integration__golden__snapshot_tests__claude_code_action_quotes.snap
  tests/golden/snapshots/integration__golden__snapshot_tests__claude_code_policy.snap
  tests/golden/snapshots/integration__golden__snapshot_tests__codex_prompt.snap
  tests/golden/snapshots/integration__golden__snapshot_tests__cursor_policy.snap
  tests/golden/snapshots/integration__golden__snapshot_tests__vscode_instructions.snap
Due: none

fix: remove version from generated file headers/footers
  src/domain/ports/target_adapter.rs
  src/domain/services/compiler.rs
  tests/golden/snapshots/integration__golden__snapshot_tests__antigravity_rule.snap
  tests/golden/snapshots/integration__golden__snapshot_tests__claude_code_action_quotes.snap
  tests/golden/snapshots/integration__golden__snapshot_tests__claude_code_policy.snap
  tests/golden/snapshots/integration__golden__snapshot_tests__codex_prompt.snap
  tests/golden/snapshots/integration__golden__snapshot_tests__cursor_policy.snap
  tests/golden/snapshots/integration__golden__snapshot_tests__vscode_instructions.snap
Due: none

deps: migrate from serde_yml to serde_yaml_ng
  Cargo.toml
  fuzz/.gitignore
  fuzz/Cargo.lock
  fuzz/Cargo.toml
  fuzz/fuzz_targets/fuzz_target_1.rs
  src/config/tests.rs
  src/error.rs
  src/lib.rs
  src/models.rs
  src/parser.rs
Due: core

feat(fuzz): add 5 new fuzz targets for comprehensive coverage
  fuzz/Cargo.lock
  fuzz/Cargo.toml
  fuzz/fuzz_targets/fuzz_config_toml.rs
  fuzz/fuzz_targets/fuzz_json_settings.rs
  fuzz/fuzz_targets/fuzz_lockfile_key.rs
  fuzz/fuzz_targets/fuzz_lockfile_toml.rs
  fuzz/fuzz_targets/fuzz_target_enum.rs
  src/lib.rs
Due: none

feat: update GEMINI.md to a comprehensive development guide and apply minor formatting adjustments to CLAUDE.md and AGENTS.md.
  AGENTS.md
  CLAUDE.md
  GEMINI.md
Due: none

docs: add clean command PRD for review
  docs/proposals/clean-command-prd.md
Due: none

docs: add comprehensive edge cases to clean command PRD
  .promptpack/config.toml
  docs/proposals/clean-command-prd.md
Due: none

docs: add clean command PRD and selection icons refactor plan
  .promptpack/README.md
  docs/proposals/clean-command-prd.md
  docs/proposals/selection-icons-refactor.md
  docs/ui-components-spec.md
Due: none

feat(ui): add CalvinTheme with ●/○ icons and fix cursor restoration
  src/commands/interactive/wizard.rs
  src/main.rs
  src/ui/menu.rs
  src/ui/theme.rs
Due: ui, commands

docs: add clean command implementation plan and TODO
  docs/proposals/clean-command-implementation-plan.md
  docs/proposals/clean-command-todo.md
Due: none

feat: implement clean command with CLI options and tests
  src/application/clean/mod.rs
  src/application/clean/options.rs
  src/application/clean/result.rs
  src/application/clean/use_case.rs
  src/application/mod.rs
  src/commands/clean.rs
  src/commands/mod.rs
  src/main.rs
  src/presentation/cli.rs
  src/ui/widgets/mod.rs
  src/ui/widgets/tree_menu.rs
  tests/cli_clean.rs
Due: ui, commands

feat(clean): add TreeMenu widget and clean UI views
  docs/command-reference.md
  docs/proposals/clean-command-todo.md
  src/commands/clean.rs
  src/ui/views/clean.rs
  src/ui/views/mod.rs
  src/ui/widgets/tree_menu.rs
Due: ui, commands

fix(clean): remove orphan lockfile entries for missing/unsigned files
  AGENTS.md
  docs/proposals/clean-command-todo.md
  src/application/clean/result.rs
  src/application/clean/use_case.rs
  src/commands/clean.rs
  src/commands/interactive/menu.rs
  src/ui/views/clean.rs
  src/ui/widgets/tree_menu.rs
Due: ui, commands

fix(clean): respect selected_keys for selective deletion
  src/application/clean/options.rs
  src/application/clean/use_case.rs
  src/commands/clean.rs
Due: commands

feat(clean): filter non-cleanable files in interactive mode
  src/commands/clean.rs
Due: commands

fix(vscode): only generate AGENTS.md for project scope deployments
  src/infrastructure/adapters/vscode.rs
Due: none

test: add boundary and error injection tests for clean command
  tests/cli_clean.rs
Due: none

docs: add tree menu refactor plan and TODO
  docs/proposals/tree-menu-refactor-plan.md
  docs/proposals/tree-menu-refactor-todo.md
Due: none

test: add 34 edge case tests for tree_menu refactoring
  src/ui/widgets/tree_menu.rs
Due: ui

refactor: split tree_menu.rs into modular directory structure
  src/ui/widgets/mod.rs
  src/ui/widgets/tree_menu.rs
  src/ui/widgets/tree_menu/builder.rs
  src/ui/widgets/tree_menu/input.rs
  src/ui/widgets/tree_menu/menu.rs
  src/ui/widgets/tree_menu/mod.rs
  src/ui/widgets/tree_menu/node.rs
  src/ui/widgets/tree_menu/render.rs
Due: ui

docs: mark tree-menu-refactor-todo.md as completed
  docs/proposals/tree-menu-refactor-todo.md
Due: none

docs: update tree-menu-refactor-todo.md with accurate completion status
  docs/proposals/tree-menu-refactor-todo.md
Due: none

fix: normalize paths in CleanUseCase tests for Windows CI
  src/application/clean/use_case.rs
Due: none

feat(clean): add --all option for non-interactive full cleanup
  docs/command-reference.md
  docs/proposals/clean-command-prd-checklist.md
  docs/proposals/clean-command-todo.md
  src/commands/clean.rs
  src/commands/interactive/menu.rs
  src/main.rs
  src/presentation/cli.rs
Due: commands

docs: add API review for clean command
  docs/reports/api-review-clean-command.md
Due: none

feat(clean): implement API improvements following TDD
  docs/command-reference.md
  docs/reports/api-review-clean-command.md
  src/application/clean/mod.rs
  src/application/clean/result.rs
  src/application/clean/use_case.rs
  src/commands/clean.rs
  src/ui/views/clean.rs
  tests/cli_clean.rs
Due: ui, commands

fix: normalize paths in integration tests for Windows CI
  tests/cli_clean.rs
Due: none

docs: add clean command user guide and API reference
  docs-content/docs/api/clean.mdx
  docs-content/docs/api/index.mdx
  docs-content/docs/api/meta.json
  docs-content/docs/guides/clean-command.mdx
  docs-content/docs/guides/index.mdx
  docs-content/docs/guides/meta.json
Due: none

fix: Cursor-only deploy now generates commands
  docs/archive/tdd-session-compiler-service.md
  docs/proposals/compiler-service-refactor-plan.md
  docs/reports/cursor-commands-bug-2025-12-24.md
  src/application/deploy/use_case.rs
  src/application/diff.rs
  src/domain/services/compiler_service.rs
  src/domain/services/mod.rs
  tests/cli_deploy_targets.rs
Due: none

fix: respect targets config in config.toml
  AGENTS.md
  docs/reports/targets-config-bug-2025-12-24.md
  src/application/deploy/tests.rs
  src/application/deploy/use_case.rs
  src/commands/deploy/bridge.rs
  src/commands/deploy/cmd.rs
  src/config/loader.rs
  src/config/tests.rs
  src/config/types.rs
  src/domain/value_objects/mod.rs
  src/domain/value_objects/target.rs
  src/presentation/factory.rs
  src/ui/menu.rs
  tests/cli_deploy_targets.rs
Due: commands

Path conditions:
  core: any of: src/sync/, src/adapters/, src/config.rs, src/parser.rs, but not: src/ui/menu.rs, src/ui/live_region.rs, src/commands/interactive.rs, src/commands/watch.rs
  ui: any of: src/ui/, but not: src/ui/menu.rs, src/ui/live_region.rs, src/commands/interactive.rs, src/commands/watch.rs
  commands: any of: src/commands/, but not: src/ui/menu.rs, src/ui/live_region.rs, src/commands/interactive.rs, src/commands/watch.rs
