Repository 64andrewwalker/calvin: changes, and which Codecov flags are due for each by the changed paths.
All: core, ui, commands

fix(interactive): detect user layer when no project .promptpack exists
  src/commands/interactive/menu.rs
  src/commands/interactive/mod.rs
  src/commands/interactive/state.rs
Due: commands

fix(ui): use actual asset_count in deploy summary instead of estimate
  src/commands/deploy/cmd.rs
Due: commands

fix(multi-layer): project-root lockfile, layered targets, interactive menu
  docs/archive/multi-layer-implementation/bugfix-report-2025-12-24.md
  docs/archive/multi-layer-implementation/prd-gap-analysis-2025-12-24.md
  docs/command-reference.md
  src/application/deploy/options.rs
  src/application/deploy/use_case.rs
  src/commands/clean.rs
  src/commands/deploy/bridge.rs
  src/commands/deploy/cmd.rs
  src/commands/deploy/layer_config.rs
  src/commands/deploy/mod.rs
  src/commands/interactive/menu.rs
  src/commands/interactive/state.rs
  tests/cli_deploy_source_external.rs
  tests/cli_deploy_user_layer_targets_config.rs
  tests/cli_interactive_user_layer_empty.rs
Due: commands

fix(multi-layer): interactive sources, layered promptpack config, init schema
  docs/archive/multi-layer-implementation/bugfix-report-2025-12-24.md
  docs/archive/multi-layer-implementation/prd-gap-analysis-2025-12-24.md
  docs/command-reference.md
  src/commands/deploy/cmd.rs
  src/commands/deploy/layer_config.rs
  src/commands/init.rs
  src/commands/interactive/menu.rs
  src/commands/interactive/mod.rs
  src/commands/interactive/state.rs
  src/config/mod.rs
  src/config/promptpack_layers.rs
  src/security/report.rs
  tests/cli_check_respects_user_layer_promptpack_security_config.rs
  tests/cli_init_project_config_template.rs
  tests/cli_interactive_additional_layers_only.rs
  tests/cli_interactive_user_layer_path_config.rs
  tests/config_promptpack_layer_merge_section_override.rs
Due: commands

fix(multi-layer): remote ~, diff/watch project_root, config merge
  docs/archive/multi-layer-implementation/bugfix-report-2025-12-24.md
  docs/archive/multi-layer-implementation/prd-gap-analysis-2025-12-24.md
  docs/configuration.md
  src/application/diff.rs
  src/application/watch/event.rs
  src/application/watch/use_case.rs
  src/commands/debug.rs
  src/commands/watch.rs
  src/config/loader.rs
  src/infrastructure/sync/remote/mod.rs
  tests/cli_diff_source_external.rs
  tests/cli_watch_source_external.rs
  tests/remote_tilde_expansion.rs
Due: commands

fix(multi-layer): watch stack, disable project layer, legacy config
  docs/archive/multi-layer-implementation/bugfix-report-2025-12-24.md
  docs/archive/multi-layer-implementation/prd-gap-analysis-2025-12-24.md
  docs/command-reference.md
  docs/configuration.md
  src/application/deploy/options.rs
  src/application/deploy/use_case.rs
  src/application/layers/query.rs
  src/application/watch/event.rs
  src/application/watch/use_case.rs
  src/commands/deploy/bridge.rs
  src/commands/deploy/cmd.rs
  src/commands/interactive/menu.rs
  src/commands/interactive/state.rs
  src/commands/watch.rs
  src/config/loader.rs
  src/config/promptpack_layers.rs
  src/config/types.rs
  src/domain/services/layer_resolver.rs
  src/main.rs
  src/presentation/cli.rs
  src/security/report.rs
  tests/cli_deploy_disable_project_layer.rs
  tests/cli_interactive_legacy_user_config_path.rs
  tests/cli_watch_includes_user_layer_assets.rs
  tests/config_promptpack_layer_merge_section_override.rs
Due: commands

fix(interactive): add global_layers_only state alias
  docs/archive/multi-layer-implementation/bugfix-report-2025-12-24.md
  docs/archive/multi-layer-implementation/prd-gap-analysis-2025-12-24.md
  docs/command-reference.md
  src/commands/interactive/menu.rs
  src/commands/interactive/mod.rs
  src/commands/interactive/state.rs
  tests/cli_interactive_additional_layers_only.rs
  tests/cli_interactive_legacy_user_config_path.rs
  tests/cli_interactive_user_layer_empty.rs
  tests/cli_interactive_user_layer_path_config.rs
Due: commands

feat(clean): delete empty lockfile after all assets cleaned
  src/application/clean/use_case.rs
  src/application/deploy/tests.rs
  src/application/diff.rs
  src/domain/ports/lockfile_repository.rs
  src/infrastructure/repositories/lockfile.rs
Due: none

fix(home): global lockfile for --home deploy/clean
  docs/archive/multi-layer-implementation/bugfix-report-2025-12-25.md
  docs/archive/multi-layer-implementation/prd-gap-analysis-2025-12-24.md
  docs/command-reference.md
  src/application/deploy/use_case.rs
  src/application/diff.rs
  src/application/lockfile_migration.rs
  src/application/mod.rs
  src/commands/clean.rs
  src/commands/interactive/menu.rs
  tests/cli_home_deploy_global_lockfile.rs
Due: commands

fix(clean): interactive choose project vs home
  docs/archive/multi-layer-implementation/bugfix-report-2025-12-25.md
  src/commands/clean.rs
  src/commands/interactive/menu.rs
Due: commands

feat(interactive): add layer selection for deployment
  src/commands/deploy/cmd.rs
  src/ui/menu.rs
Due: commands

feat(deploy): add interactive layer selection for multi-layer deploys
  src/application/layers/mod.rs
  src/application/layers/query.rs
  src/commands/deploy/cmd.rs
  src/ui/menu.rs
  src/ui/primitives/text.rs
  src/ui/views/layers.rs
  src/ui/views/projects.rs
Due: ui, commands

feat(scripts): add worktree initialization scripts
  .gitignore
  scripts/setup.sh
  scripts/worktree-init.sh
Due: none

feat(deploy): add --project override
  docs/archive/multi-layer-implementation/bugfix-report-2025-12-25.md
  docs/command-reference.md
  docs/configuration.md
  src/main.rs
  src/presentation/cli.rs
  tests/cli_deploy_project_flag_overrides_home_config.rs
Due: none

fix(setup): enhance lockfile hash retrieval for cross-platform compatibility
  scripts/setup.sh
Due: none

fix(multi-layer): align diff + targets merge with PRD
  docs/archive/multi-layer-implementation/bugfix-report-2025-12-25.md
  docs/archive/multi-layer-implementation/prd-alignment-report-2025-12-25.md
  docs/command-reference.md
  src/application/diff.rs
  src/commands/debug.rs
  src/config/promptpack_layers.rs
  tests/cli_deploy_empty_project_targets_section_does_not_override_user_layer.rs
  tests/cli_diff_includes_user_layer_assets.rs
Due: commands

feat(visibility): enhance layer stack display with provenance and tilde paths
  docs/archive/multi-layer-implementation/prd-compliance-audit-2025-12-25.md
  src/commands/deploy/cmd.rs
  src/commands/init.rs
  src/commands/interactive/mod.rs
  src/docs.rs
  src/error.rs
  src/ui/primitives/text.rs
  src/ui/views/layers.rs
  src/ui/views/projects.rs
  tests/cli_deploy_verbose_provenance.rs
  tests/cli_deploy_verbose_variants.rs
  tests/cli_error_docs_links.rs
  tests/cli_init_user_format.rs
  tests/cli_interactive_layer_stack_display.rs
  tests/cli_layers_format.rs
  tests/cli_layers_snapshot.rs
Due: ui, commands

docs(testing): add comprehensive testing framework and multi-layer test plan
  GEMINI.md
  docs/testing/CONTRACT_REGISTRY.md
  docs/testing/IMPLEMENTATION_PLAN.md
  docs/testing/MULTI_LAYER_TEST_PLAN.md
  docs/testing/TESTING_PHILOSOPHY.md
Due: none

test(contracts): implement Phase 0 foundation and Phase 1 contract tests
  docs/testing/IMPLEMENTATION_PLAN.md
  tests/common/assertions.rs
  tests/common/env.rs
  tests/common/fixtures.rs
  tests/common/mod.rs
  tests/contracts.rs
  tests/contracts/layers.rs
  tests/contracts/paths.rs
Due: none

test(contracts): complete Phase 1 - all contract tests
  docs/testing/IMPLEMENTATION_PLAN.md
  tests/contracts.rs
  tests/contracts/config.rs
  tests/contracts/layers.rs
Due: none

test(scenarios): complete Phase 2 - scenario tests
  docs/testing/IMPLEMENTATION_PLAN.md
  tests/scenarios.rs
  tests/scenarios/clean_all.rs
  tests/scenarios/first_time_user.rs
  tests/scenarios/team_shared.rs
Due: none

test: add property tests and CI matrix
  .githooks/pre-commit
  .github/workflows/test-matrix.yml
  Cargo.lock
  Cargo.toml
  docs/testing/IMPLEMENTATION_PLAN.md
  tests/properties.rs
  tests/properties/frontmatter.proptest-regressions
  tests/properties/frontmatter.rs
  tests/properties/layer_resolver.rs
  tests/properties/lockfile_keys.rs
  tests/properties/path_handling.rs
Due: none

test: migrate deploy CLI tests to TestEnv
  docs/testing/IMPLEMENTATION_PLAN.md
  docs/testing/MIGRATION_CHECKLIST.md
  tests/cli_deploy_cleanup.rs
  tests/cli_deploy_disable_project_layer.rs
  tests/cli_deploy_orphans.rs
  tests/cli_deploy_project_flag_overrides_home_config.rs
  tests/cli_deploy_source_flag.rs
  tests/cli_deploy_user_layer_targets_config.rs
  tests/common/env.rs
Due: none

fix(deploy): respect project root and exit codes
  docs/testing/IMPLEMENTATION_PLAN.md
  src/commands/deploy/cmd.rs
  src/commands/mod.rs
  src/commands/project_root.rs
  tests/contracts/layers.rs
  tests/contracts/paths.rs
Due: commands

test: migrate more legacy CLI tests to TestEnv
  docs/testing/MIGRATION_CHECKLIST.md
  tests/cli_clean_all.rs
  tests/cli_deploy_layers_flags.rs
  tests/cli_deploy_source_external.rs
  tests/cli_home_deploy_global_lockfile.rs
Due: none

test: migrate empty targets regression to TestEnv
  docs/testing/MIGRATION_CHECKLIST.md
  tests/cli_deploy_empty_project_targets_section_does_not_override_user_layer.rs
Due: none

fix(test): update test configuration to enhance ci stability
  tests/cli_watch_includes_user_layer_assets.rs
Due: none

test: migrate verbose deploy tests to TestEnv
  docs/testing/IMPLEMENTATION_PLAN.md
  docs/testing/MIGRATION_CHECKLIST.md
  tests/cli_deploy_verbose_provenance.rs
  tests/cli_deploy_verbose_variants.rs
Due: none

fix(watch): process notify events correctly
  src/application/watch/event.rs
  src/application/watch/tests.rs
  src/application/watch/use_case.rs
  src/ui/views/watch.rs
  tests/cli_watch_includes_user_layer_assets.rs
Due: ui

test: migrate clean and deploy_targets to TestEnv
  docs/testing/IMPLEMENTATION_PLAN.md
  docs/testing/MIGRATION_CHECKLIST.md
  tests/cli_clean.rs
  tests/cli_clean/basic.rs
  tests/cli_clean/helpers.rs
  tests/cli_clean/variants.rs
  tests/cli_deploy_targets.rs
  tests/common/env.rs
Due: none

fix: Add `USERPROFILE` environment variable for Windows compatibility in tests, Sensei.
  tests/cli_check_all.rs
  tests/common/env.rs
Due: none

fix(tests): add Windows CI compatibility for directory path tests
  src/infrastructure/repositories/registry.rs
  tests/cli_check_all.rs
  tests/common/env.rs
Due: none

feat(tests): add WindowsCompatExt trait for cross-platform test isolation
  docs/guides/windows-ci-lessons.md
  tests/cli_check_respects_user_layer_promptpack_security_config.rs
  tests/cli_diff_source_external.rs
  tests/cli_error_docs_links.rs
  tests/cli_init_user.rs
  tests/cli_layers.rs
  tests/cli_layers_format.rs
  tests/cli_multi_layer.rs
  tests/cli_multi_layer_migration.rs
  tests/cli_projects.rs
  tests/cli_provenance.rs
  tests/cli_registry_corrupted.rs
  tests/common/mod.rs
  tests/common/windows.rs
Due: none

fix(config): add CALVIN_USER_CONFIG_PATH for Windows CI compatibility
  src/config/loader.rs
  tests/cli_check_all.rs
  tests/common/env.rs
  tests/common/windows.rs
Due: none

fix(config): add CALVIN_XDG_CONFIG_PATH for Windows CI compatibility
  src/config/loader.rs
  tests/common/env.rs
  tests/common/windows.rs
Due: none

fix(tests): use forward slashes in TOML paths for Windows compatibility
  tests/cli_check_all_layers.rs
  tests/cli_deploy_layers_flags.rs
  tests/cli_diff_includes_user_layer_assets.rs
  tests/cli_interactive_additional_layers_only.rs
  tests/cli_interactive_layer_stack_display.rs
  tests/cli_interactive_legacy_user_config_path.rs
  tests/cli_interactive_user_layer_empty.rs
  tests/cli_interactive_user_layer_path_config.rs
  tests/cli_json_deploy.rs
  tests/cli_layers.rs
  tests/cli_lockfile_migration.rs
  tests/cli_no_layers_found.rs
  tests/cli_watch.rs
  tests/cli_watch_includes_user_layer_assets.rs
  tests/cli_watch_source_external.rs
  tests/cli_yes.rs
  tests/common/env.rs
  tests/new_engine_integration.rs
Due: none

fix(tests): handle Windows path separators in JSON output assertions
  tests/cli_diff_includes_user_layer_assets.rs
  tests/common/env.rs
Due: none

fix(windows): unify home directory resolution with calvin_home_dir()
  docs/archive/windows-home-dir-unification-plan.md
  src/application/deploy/use_case.rs
  src/application/lockfile_migration.rs
  src/commands/debug.rs
  src/config/loader.rs
  src/config/types.rs
  src/infrastructure/fs/home.rs
  src/infrastructure/fs/mod.rs
  src/infrastructure/mod.rs
  src/infrastructure/repositories/registry.rs
  tests/common/windows.rs
Due: commands

fix(windows): complete home directory unification for test isolation
  docs/archive/windows-home-dir-unification-plan.md
  src/domain/services/layer_resolver.rs
  src/infrastructure/fs/local.rs
  src/infrastructure/sync/local.rs
Due: none

fix(test): escape Windows paths in TOML config for legacy user config test
  tests/cli_interactive_legacy_user_config_path.rs
Due: none

Path conditions:
  core: any of: src/sync/, src/adapters/, src/config.rs, src/parser.rs, but not: src/ui/menu.rs, src/ui/live_region.rs, src/commands/interactive.rs, src/commands/watch.rs
  ui: any of: src/ui/, but not: src/ui/menu.rs, src/ui/live_region.rs, src/commands/interactive.rs, src/commands/watch.rs
  commands: any of: src/commands/, but not: src/ui/menu.rs, src/ui/live_region.rs, src/commands/interactive.rs, src/commands/watch.rs
