Repository 64andrewwalker/calvin: changes, and which Codecov flags are due for each by the changed paths.
All: core, ui, commands

refactor: migrate all LocalFileSystem usages to LocalFs (Phase 1.3)
  src/commands/debug.rs
  src/sync/execute.rs
  src/sync/lockfile.rs
  src/sync/orphan.rs
Due: core, commands

refactor: simplify src/fs.rs, remove duplicate implementations (Phase 1.4)
  src/error.rs
  src/fs.rs
  src/infrastructure/fs/remote.rs
  src/sync/engine.rs
  src/sync/execute.rs
  src/sync/plan.rs
Due: core

feat(domain): add LockfileNamespace and ContentHash::from_bytes to domain layer
  docs/lockfile-migration-plan.md
  src/domain/entities/lockfile.rs
  src/domain/value_objects/hash.rs
  src/domain/value_objects/lockfile_namespace.rs
  src/domain/value_objects/mod.rs
  src/sync/tests.rs
Due: core

refactor(sync/lockfile): re-export domain types, remove duplicate code
  src/sync/lockfile.rs
Due: core

refactor(sync/scope): re-export ScopePolicy from domain, add extension trait
  docs/sync-cleanup-plan.md
  src/domain/value_objects/scope.rs
  src/sync/mod.rs
  src/sync/pipeline.rs
  src/sync/scope.rs
Due: core

refactor(sync): simplify writer.rs and conflict.rs
  docs/sync-module-analysis.md
  src/sync/conflict.rs
  src/sync/writer.rs
Due: core

refactor(sync/orphan): re-export domain utilities, add path field
  src/sync/orphan.rs
  src/ui/views/orphan.rs
Due: core, ui

fix(deploy): check orphan file status before deletion
  src/application/deploy.rs
Due: none

docs: add engine.rs migration plan
  docs/engine-migration-plan.md
Due: none

refactor(sync): migrate watcher to DeployUseCase and delete SyncEngine
  .agent/workflows/test.md
  .claude/commands/test.md
  .codex/prompts/test.md
  .github/instructions/test.instructions.md
  src/application/deploy.rs
  src/application/mod.rs
  src/lib.rs
  src/sync/engine.rs
  src/sync/mod.rs
  src/watcher.rs
Due: core

refactor(sync): delete legacy execute.rs, plan.rs, remote.rs
  src/commands/deploy/targets.rs
  src/sync/conflict.rs
  src/sync/execute.rs
  src/sync/mod.rs
  src/sync/plan.rs
  src/sync/remote.rs
  src/sync/tests.rs
Due: core, commands

refactor(sync): cleanup tests.rs
  src/sync/tests.rs
Due: core

test(watch): add E2E tests for watch command
  tests/cli_watch.rs
Due: none

refactor(pipeline): migrate AssetPipeline to application layer
  src/application/mod.rs
  src/application/pipeline.rs
  src/sync/pipeline.rs
Due: core

docs(sync): update migration status comments
  src/sync/mod.rs
Due: core

refactor(orphan): use domain OrphanFile in ui/views/orphan.rs
  src/ui/views/orphan.rs
Due: ui

docs(lockfile): update migration plan with current status
  docs/lockfile-migration-plan.md
Due: none

refactor(sync): simplify orphan and lockfile modules
  src/sync/lockfile.rs
  src/sync/orphan.rs
Due: core

docs(lockfile): mark migration plan as complete
  docs/lockfile-migration-plan.md
Due: none

refactor(sync): clean up duplicate tests and update migration status
  src/sync/lockfile.rs
  src/sync/mod.rs
  src/sync/orphan.rs
Due: core

Path conditions:
  core: any of: src/sync/, src/adapters/, src/config.rs, src/parser.rs, but not: src/ui/menu.rs, src/ui/live_region.rs, src/commands/interactive.rs, src/commands/watch.rs
  ui: any of: src/ui/, but not: src/ui/menu.rs, src/ui/live_region.rs, src/commands/interactive.rs, src/commands/watch.rs
  commands: any of: src/commands/, but not: src/ui/menu.rs, src/ui/live_region.rs, src/commands/interactive.rs, src/commands/watch.rs
