Repository 64andrewwalker/calvin: changes, and which Codecov flags are due for each by the changed paths.
All: core, ui, commands

codecov.yml:

# Codecov Configuration
# https://docs.codecov.com/docs/codecov-yaml

coverage:
  # Overall project coverage requirements
  status:
    project:
      default:
        target: 70%      # Minimum overall coverage
        threshold: 2%    # Allow 2% fluctuation
        
    # Critical modules must maintain higher coverage
    patch:
      default:
        target: 80%      # New code must have 80%+ coverage

  # Red lines for critical modules
  # These are the "buckets" that can't be too low
  precision: 2
  round: down
  
# Ignore modules that are hard to test (interactive/TTY/external dependencies)
ignore:
  - "src/ui/menu.rs"              # Interactive menu (requires TTY)
  - "src/ui/live_region.rs"       # Live terminal updates (requires TTY)
  - "src/commands/interactive.rs" # Interactive CLI (requires TTY)
  - "src/commands/watch.rs"       # File watcher (requires real filesystem watching)

# Flag definitions for different module groups
flags:
  core:
    paths:
      - src/sync/
      - src/adapters/
      - src/config.rs
      - src/parser.rs
    carryforward: true
    
  ui:
    paths:
      - src/ui/
    carryforward: true
    
  commands:
    paths:
      - src/commands/
    carryforward: true

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: true

docs: add legacy code analysis and migration plan
  docs/legacy-code-analysis.md
Due: none

refactor: remove CALVIN_LEGACY_ENGINE support
  src/commands/deploy/bridge.rs
  src/commands/deploy/cmd.rs
  src/commands/deploy/runner.rs
  src/commands/deploy/targets.rs
  src/ui/views/orphan.rs
Due: ui, commands

refactor: delete deprecated DeployRunner (Phase 2)
  src/commands/deploy/mod.rs
  src/commands/deploy/runner.rs
Due: commands

refactor: inline expand_home and hash in LocalFs
  docs/sync-migration-plan.md
  src/infrastructure/fs/local.rs
Due: none

feat: add From trait conversions for Asset and OutputFile
  docs/adapters-migration-tdd.md
  src/domain/entities/asset.rs
  src/domain/entities/output_file.rs
Due: none

test: add adapter output consistency test (Phase B.1)
  src/sync/tests.rs
Due: core

docs: record adapter behavior inconsistency finding
  docs/adapters-migration-tdd.md
  src/error.rs
Due: none

fix: align new ClaudeCode adapter behavior with legacy
  src/infrastructure/adapters/claude_code.rs
Due: none

test: add cursor-only compile test
  src/sync/tests.rs
Due: core

refactor: migrate sync/compile.rs to new infrastructure adapters
  src/sync/compile.rs
Due: core

refactor: unify OutputFile API access in sync module
  src/adapters/mod.rs
  src/sync/engine.rs
  src/sync/execute.rs
  src/sync/orphan.rs
  src/sync/pipeline.rs
  src/sync/plan.rs
  src/sync/tests.rs
Due: core

refactor: consolidate OutputFile imports in sync module
  src/sync/compile.rs
  src/sync/engine.rs
  src/sync/execute.rs
  src/sync/mod.rs
  src/sync/orphan.rs
  src/sync/pipeline.rs
  src/sync/plan.rs
  src/sync/remote.rs
Due: core

docs: update migration progress and remaining work
  docs/adapters-migration-tdd.md
  docs/refactoring-plan.md
Due: none

docs: add detailed plan for rewriting VSCode/Codex/Antigravity adapters
  docs/adapters-rewrite-plan.md
Due: none

refactor: rewrite VSCode/Codex/Antigravity adapters without legacy dependency
  src/infrastructure/adapters/antigravity.rs
  src/infrastructure/adapters/codex.rs
  src/infrastructure/adapters/vscode.rs
Due: none

refactor: delete legacy src/adapters/, migrate to infrastructure/adapters/
  src/adapters/antigravity.rs
  src/adapters/claude_code.rs
  src/adapters/codex.rs
  src/adapters/cursor.rs
  src/adapters/escaping.rs
  src/adapters/mod.rs
  src/adapters/vscode.rs
  src/commands/debug.rs
  src/domain/entities/output_file.rs
  src/lib.rs
  src/sync/compile.rs
  src/sync/engine.rs
  src/sync/execute.rs
  src/sync/mod.rs
  src/sync/orphan.rs
  src/sync/plan.rs
  src/sync/remote.rs
  src/sync/tests.rs
  tests/golden/mod.rs
Due: core, commands

refactor: inline atomic_write and hash in LocalFs
  src/infrastructure/fs/local.rs
Due: none

docs: add sync module redesign plan
  docs/sync-module-redesign.md
Due: none

feat: add infrastructure/fs/remote.rs (Phase 1.1)
  src/infrastructure/fs/mod.rs
  src/infrastructure/fs/remote.rs
Due: none

refactor: migrate sync/engine.rs to use LocalFs (Phase 1.2)
  src/infrastructure/fs/local.rs
  src/sync/engine.rs
Due: core
