Repository 64andrewwalker/calvin: changes, and which Codecov flags are due for each by the changed paths.
All: core, ui, commands

codecov.yml:

# Codecov Configuration
# https://docs.codecov.com/docs/codecov-yaml

coverage:
  # Overall project coverage requirements
  status:
    project:
      default:
        target: 70%      # Minimum overall coverage
        threshold: 2%    # Allow 2% fluctuation
        
    # Critical modules must maintain higher coverage
    patch:
      default:
        target: 80%      # New code must have 80%+ coverage

  # Red lines for critical modules
  # These are the "buckets" that can't be too low
  precision: 2
  round: down
  
# Ignore modules that are hard to test (interactive/TTY/external dependencies)
ignore:
  - "src/ui/menu.rs"              # Interactive menu (requires TTY)
  - "src/ui/live_region.rs"       # Live terminal updates (requires TTY)
  - "src/commands/interactive.rs" # Interactive CLI (requires TTY)
  - "src/commands/watch.rs"       # File watcher (requires real filesystem watching)

# Flag definitions for different module groups
flags:
  core:
    paths:
      - src/sync/
      - src/adapters/
      - src/config.rs
      - src/parser.rs
    carryforward: true
    
  ui:
    paths:
      - src/ui/
    carryforward: true
    
  commands:
    paths:
      - src/commands/
    carryforward: true

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: true

refactor(compile): migrate compile_assets to application layer
  src/application/compiler.rs
  src/application/mod.rs
  src/application/pipeline.rs
  src/sync/compile.rs
  src/sync/tests.rs
Due: core

docs: update migration status after sync module cleanup
  docs/architecture/TODO.md
  docs/sync-migration-plan.md
Due: none

refactor(sync): migrate more functions to new architecture
  src/infrastructure/fs/local.rs
  src/infrastructure/fs/mod.rs
  src/sync/conflict.rs
  src/sync/mod.rs
  src/sync/writer.rs
Due: core

refactor(sync): add From<DeployResult> impl for SyncResult
  src/commands/deploy/bridge.rs
  src/commands/interactive.rs
  src/sync/mod.rs
  src/watcher.rs
Due: core, commands

refactor(sync): move ScopePolicyExt to domain::policies
  src/application/pipeline.rs
  src/domain/policies/mod.rs
  src/domain/policies/scope_policy.rs
  src/sync/scope.rs
Due: core

refactor: reduce sync/ dependencies across codebase
  src/commands/debug.rs
  src/commands/deploy/cmd.rs
  tests/golden/mod.rs
Due: commands

refactor: delete sync/ module completely
  src/commands/debug.rs
  src/commands/deploy/bridge.rs
  src/commands/deploy/cmd.rs
  src/commands/interactive.rs
  src/lib.rs
  src/sync/compile.rs
  src/sync/conflict.rs
  src/sync/lockfile.rs
  src/sync/mod.rs
  src/sync/orphan.rs
  src/sync/pipeline.rs
  src/sync/scope.rs
  src/sync/tests.rs
  src/sync/writer.rs
  src/ui/views/deploy.rs
  src/watcher.rs
Due: core, ui, commands

docs: update TODO.md to reflect sync/ deletion
  docs/architecture/TODO.md
Due: none

refactor(application): split deploy.rs into deploy/ folder
  src/application/deploy/mod.rs
  src/application/deploy/options.rs
  src/application/deploy/result.rs
  src/application/deploy/tests.rs
  src/application/deploy/use_case.rs
Due: none

refactor: split large files into folder structures
  src/commands/check/audit.rs
  src/commands/check/doctor.rs
  src/commands/check/engine.rs
  src/commands/check/mod.rs
  src/commands/interactive.rs
  src/commands/interactive/menu.rs
  src/commands/interactive/mod.rs
  src/commands/interactive/tests.rs
  src/commands/interactive/wizard.rs
  src/config.rs
  src/config/loader.rs
  src/config/mod.rs
  src/config/tests.rs
  src/config/types.rs
  src/security.rs
  src/security/checks.rs
  src/security/mod.rs
  src/security/report.rs
  src/security/tests.rs
  src/security/types.rs
Due: core, commands

refactor: split watcher.rs and simplify check/engine.rs
  src/commands/check/engine.rs
  src/watcher.rs
  src/watcher/cache.rs
  src/watcher/event.rs
  src/watcher/mod.rs
  src/watcher/sync.rs
  src/watcher/tests.rs
Due: commands

feat(scripts): add calvin-no-split marker for exempt files
  scripts/check-file-size.sh
  src/application/deploy/use_case.rs
  src/security/checks.rs
Due: none

fix: correct documentation and remove eprintln! from sync/orphan.rs
  .github/workflows/ci.yml
  Dockerfile
  docs/architecture/TODO.md
  docs/architecture/platform.md
  docs/sync-migration-plan.md
  src/application/deploy/result.rs
  src/application/deploy/use_case.rs
  src/commands/check/audit.rs
  src/commands/check/doctor.rs
  src/commands/check/engine.rs
  src/commands/debug.rs
  src/commands/deploy/cmd.rs
  src/commands/interactive/menu.rs
  src/commands/interactive/mod.rs
  src/commands/watch.rs
  src/domain/ports/conflict_resolver.rs
  src/infrastructure/conflict/interactive.rs
  src/main.rs
  src/presentation/cli.rs
  src/presentation/mod.rs
  src/presentation/output.rs
  src/sync/compile.rs
  src/sync/orphan.rs
  src/ui/context.rs
  src/ui/output.rs
  src/ui/views/deploy.rs
Due: core, ui, commands

docs: align architecture documentation with actual implementation
  docs/architecture/directory.md
  docs/architecture/docs.md
  docs/architecture/layers.md
  docs/architecture/migration.md
  docs/architecture/overview.md
  docs/architecture/ports.md
Due: none

docs: identify domain layer dependency violations as tech debt
  docs/architecture/TODO.md
Due: none

refactor: fix domain layer dependency violations
  docs/architecture/domain-deps-refactor.md
  src/application/mod.rs
  src/application/pipeline.rs
  src/config/types.rs
  src/domain/policies/mod.rs
  src/domain/policies/scope_policy.rs
  src/domain/policies/security.rs
  src/domain/value_objects/mod.rs
  src/domain/value_objects/security_mode.rs
Due: none

refactor: complete domain layer dependency cleanup
  docs/architecture/TODO.md
  docs/architecture/domain-deps-refactor.md
  src/commands/debug.rs
  src/commands/deploy/cmd.rs
  src/commands/watch.rs
  src/config/loader.rs
  src/config/mod.rs
  src/config/types.rs
  src/domain/ports/config_repository.rs
  src/domain/ports/mod.rs
  src/domain/value_objects/config_warning.rs
  src/domain/value_objects/deploy_target.rs
  src/domain/value_objects/mod.rs
  src/domain/value_objects/target.rs
  src/infrastructure/config/toml_config.rs
  src/models.rs
  src/ui/output.rs
Due: ui, commands

docs: document presentation layer architecture decision
  docs/architecture/TODO.md
  docs/architecture/layers.md
Due: none

fix(tests): cross-platform path handling for Windows CI
  README.md
  docs/analysis-report.md
  docs/architecture/TODO.md
  docs/sync-audit-report.md
  src/application/compiler.rs
  src/domain/ports/config_repository.rs
  src/domain/value_objects/path.rs
  src/infrastructure/sync/remote.rs
Due: none

fix(adapters): normalize source paths in footer comments for Windows
  docs/reports/api-review-2025-12-19.md
  src/application/compiler.rs
  src/domain/entities/asset.rs
  src/infrastructure/adapters/antigravity.rs
  src/infrastructure/adapters/claude_code.rs
  src/infrastructure/adapters/codex.rs
  src/infrastructure/adapters/cursor.rs
  src/infrastructure/adapters/vscode.rs
Due: none
